.categoryNav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 24px 0 32px;
  border-bottom: 1px solid #ddd;
  margin-top: 11px;
}

.categoryItem {
  cursor: pointer;
  font-size: 16px;
  margin-right: 80px; /* 글자 간격 */
  color: #444;
  padding-bottom: 6px;
  transition: color 0.3s ease;
}

.categoryItem:hover {
  color: #3096E6;
}

.categoryItem.active {
  color: #3096E6;
  font-weight: 700;
  border-bottom: 2px solid #3096E6;
}

.facilityList {
  max-width: 1200px;
  margin: 0 auto;   /* 화면 중앙 정렬  */
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.noData {
  font-size: 18px;
  color: #666;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
