.announcement-wrapper {
  width: 1209px;
  margin: 60px auto;
  font-family: NanumGothic;
}

.announcement-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.announcement-header {
  display: flex;
  height: 42px;
  background: #EFEFEF;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.6px;
  align-items: center;
  padding: 0 10px;
}

.announcement-row {
  display: flex;
  height: 42px;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #E9E9E9;
  font-size: 16px;
  font-weight: 400;
  color: #151515;
  letter-spacing: 1px;
}

.announcement-row td {
  text-align: center;
}

.announcement-row td:nth-child(2) {
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.page-btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: NanumGothic;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 5px;
}

.page-btn.active {
  background-color: #3096E6;
  color: white;
  font-weight: bold;
}

/* 검색창 */
.announcement-search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.search-select-wrapper {
  position: relative;
}

.search-select {
  width: 108px;
  height: 42px;
  border: 1px solid #A1A1A1;
  background: #FFF;
  color: #697077;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
}

.dropdown-icon {
  width: 14px;
  height: 14px;
}

.search-options {
  position: absolute;
  top: 44px;
  width: 132px;
  border: 1px solid #A1A1A1;
  background: #FFF;
  z-index: 1;
}

.search-option {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 15px;
}

.search-option:hover {
  background-color: #eee;
}

.search-input-box {
  display: flex;
  align-items: center;
  border: 1px solid #A1A1A1;
  height: 42px;
  background: #FFF;
}

.search-input {
  border: none;
  width: 140px;
  height: 100%;
  font-size: 16px;
  font-family: Roboto;
  padding: 0 0 0 12px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  border: none;
  background: none;
  padding: 0 12px;
  cursor: pointer;
}

.search-icon {
  padding-top: 3px;
  width: 23px;
  height: 23px;
}
